<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>@BUNDLE_ID@</string>
	<key>CFBundleName</key>
	<string>@BUNDLE_NAME@</string>
	<key>CFBundleDisplayName</key>
	<string>@BUNDLE_DISPLAY_NAME@</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@VERSION@</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>dictionary</string>
	<key>DCSDictionaryCopyright</key>
	<string>@COPYRIGHT@</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>@MANUFACTURER@</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>@FRONT_MATTER_ID@</string>
</dict>
</plist>
